<section class="block container domain-block">
  <header class="block__header">
      <h1 class="block__heading">Starting at $10 per month</h1>
      <p class="hero__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, exercitationem?</p>
  </header>
  <div class="input-group">
  <input type="text" class="input" placeholder="Enter domain name here...">
      <button class="btn btn--accent btn--streched">
      <svg class="icon icon--white">
      <use xlink:href="images/sprite.svg#magnifying-glass-solid (1)"></use></svg>SEARCH
  </button>
</div>
  <ul class="list domain-block__prices">
      <li><span class="badges badges--secondary">.com $9</span></li>
      <li>.sg $10</li>
      <li>.space $11</li>
      <li>.info $14</li>
      <li>.net $10</li>
      <li>.xyz $10</li>
      
  </ul>
 
</section>