<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Host on the Cloud to Keep Growing</h2>
    <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, voluptatem.
    </p>
  </header>
  <div class="grid grid-cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer-solid"></use>
        </svg>
      </span>
      <h2 class="feature__heading">Super Easy to Use</h2>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a class="link-arrow" href="">LEARN MORE</a>
    </div>
    <img src="/images/easy.01749a24.jpg" alt="" />
  </div>
  <div class="grid grid-cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#arrow-up-right-dots-solid"></use>
        </svg>
      </span>
      <h2 class="feature__heading">Simply Fast Websites</h2>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a class="link-arrow" href="">LEARN MORE</a>
    </div>
    <img src="/images/fast.36029745.jpg" alt="" />
  </div>
  <div class="grid grid-cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h2 class="feature__heading">Wordpress Made Easy</h2>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a class="link-arrow" href="">LEARN MORE</a>
    </div>
    <img src="/images/wordpress.c5854b7a.jpg" alt="" />
  </div>
  <div class="grid grid-cols-2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock-regular"></use>
        </svg>
      </span>
      <h2 class="feature__heading">24/7 Expert Support</h2>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <a class="link-arrow" href="">LEARN MORE</a>
    </div>
    <img src="/images/support.22f42806.jpg" alt="" />
  </div>
</section>
