<section class="block block--dark block--skewed-left hero">
  <div class="container">
    <div class="grid grid-col-2">
      <header class="block__header hero__content">
        <h1 class="block__heading">
          Cloud Hosting <br />
          for Pros
        </h1>
        <p class="hero__tagline">
          Deploy your websites in less than 60 seconds.
        </p>
        <a href="#" class="btn btn--accent btn--streched">GET STARTED</a>
      </header>
      <img class="hero__image" src="images/banner.001ba340.jpg" alt="" />
    </div>
  </div>
</section>
