<nav class="nav collapsibles collapsible--expanded">
    <a href="#">
        <img class="nav__brand" src="images/logo.762e26a3.svg" alt="website page">
    </a>
    <svg class="icon icon--white nav__toggle">
    <use xlink:href="images/sprite.svg#bars-solid"></use>
  </svg>
    <ul class="list nav__list collapsible__content">
        <li class="nav__item">
            <a href="#">Hosting</a>
        </li>
        <li class="nav__item">
            <a href="#">VPS</a>
        </li>
        <li class="nav__item">
            <a href="#">Domain</a>
        </li>
        <li class="nav__item">
            <a href="#">Pricing</a>
        </li>

    </ul>


</nav>