<section class="block block--testimonial">
  <header class="block__header">
    <h2 class="block__heading">What our Customers are Saying</h2>
    <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, ipsam.
    </p>
  </header>
  <div class="container">
    <div class="card testimonal" style="padding: 5rem">
      <div class="grid grid-cols-2">
        <div class="testimonal__image">
          <img src="/images/testimonial.jpg" alt="" />
          <span class="icon-container icon-container-accent">
            <svg class="icon icon--small icon--white">
              <use xlink:href="images/sprite.svg#quote-left-solid (2)"></use>
            </svg>
          </span>
        </div>
        <blockquote class="qoute">
          <p class="quote-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            optio officiis dolore earum error eaque perferendis laudantium sed
            praesentium dolorum.
          </p>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="images/window-minimize-solid.svg"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">John Smith</h3>
              <p class="quote__organization">ABC Company</p>
            </div>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</section>
